@media only screen and (max-width: 600px) {
    .bm-burger-button {
        left: 25px;
        top: 17px;
        width: 30px;
        height: 25px;
    }

    .header-nav {
        height: 60px;
    }

    .app-icon,
    .app-icon p {
        display: none;
    }

    .logo {
        margin-left: 20%;
    }

    .logo img {
        width: 60%;
        margin-left: 0px;
    }

    .header-nav-right {
        width: auto;
        margin: 10px;
    }
    .home-banner ul {
        left: 40%;
        padding-left: 0px;

}
.main_page {
    padding-top: 60px;
  }
  .slick-prev {
    left: 2%;
    z-index: 99;
}
.services-head {
    margin-top: 5px;
    margin-bottom: 15px;
}
.services-head h1 {
    font-size: 25px;
    font-weight: 500;
}
.services-head p {
    font-size: 15px;
    padding-top: 0px;
}
.ser-card-1,.ser-card-2,.ser-card-3,.ser-card-4,.ser-card-5  {
    height: 370px;
    margin-bottom: 30px;

}
.sec-row {
    width: 100%;
    margin-top: 0px !important;
}
section.services {
    margin-bottom: 10px;
}
.pkg-bann {
        background-size: cover;
        margin-top: 50px;
}
.pkgs-list {
    padding: 40px 0px;
}
.test-bg{
    width: 20px;
  }
  .franch-cost h2 {
    font-size: 19px;
  }
  .franch-cost p {
    font-size: 13px;
}
.about-franch {
      width: 200px;
    margin-top: -100px;
}    
.franch-more {
    position: absolute;
    right: 8px;
    bottom: 165px;
}
.franch-img-ban{
    height: 25rem;
}
.institute-img-ban{
    height: 22rem;
}
.about-insti p {
    font-size: 16px;
}
.about-insti  {
  margin-top: -45px;
}

.about-insti h1 {
    font-size: 10px;
}
.slick-list{
    height: 18rem;
}
.about-franch h1 {
    font-size: 35px;
    font-weight: 600;
}


  /*****----------END--------Homepage--------*******/

/*******---------Contact-----Form---------********/
.form-contact{
    border-radius: 15px 0 15px 15px;
    background: white;
    box-shadow: 0px 0px 15px;
        width: 333px;
    margin-left: -110px;
    /* position: absolute; */
}
    
/* element.style {
}
@media only screen and (max-width: 600px)
.form {
    width: 340px;
    margin-left: 5px;
} */
.loginForm{
    padding: 10px;
}

.contact-form{
    border-radius: 15px 0 15px 15px;
    background: white;
      box-shadow: 0px 0px 15px;
}
.form-body{
    margin-left: -10px;
    position:relative;
    height: 78rem;
    width: 370px;
}
.form-head{
    width: 100%;
}

.form-head p{
    width: 100%;
}
.form-heading{
width: 360px;
}


.form-heading h3{
    width: 100%;
}
.form{
    width:340px;
     margin-left: 5px;
     
}


.form-group{
    width: 100%;
}

.profile-detail-btn1{
   margin-left: 4px;
   width: 300px;
    position: relative;
    
}
.form-group{
    float: left;
}

/**--Profile-Page-***/



.form-body-1{
 /*margin-left: -10px;
    position:relative;
    height: 78rem;
    width: 370px;*/

        margin-left: -10px;
      margin-top: -8rem;
        position: relative;
    height: 101rem;
    width: 370px;
    top: 8rem;
    background: #d3d3d33b;
    margin-bottom: 3rem;
    
}




.p-form-heading{
width: 360px;
margin-top: -7.5rem;
padding-bottom: 10px;
margin-bottom: -2px;
padding-top: 10px;
}



.form-1{
        width: 340px;
    position: absolute;
    
    margin-left: -7rem;
    background: white;
        border-radius: 20px 0 20px 20px;
}

.contact-btn1{
 width: 90%;
 margin-left: 15px;
}
.form-group{
    width: 100%;
}

/***-------profile----End--------**********/

/*****----customer-care----****/

.cc-box{
    position: relative;
    
}
.cc-box-body-up{
    margin-top: 20rem;
}
.cc-box-body{
  width:100%;
  height: 100%;
 padding: 1rem 2rem;    
}


.cc-phone-img{
    width: 320px;
    position: absolute;
     margin-left: 10px;
     margin-top: -58.5rem;
 }
.cc-heading h5{
    margin-top: -10px;
    margin-bottom: 20px;
    /* margin-left: 90px; */
    text-align: center;
}

.cc-text{
  font-family: Poppins, Light;
  font-weight: 100;
  font-size: 17px;
}
.cc-text-2{
    margin-top: 17px;
     font-size: 17px;
}
/******-----End Customer care Page----*****/

/****-----Product- Detail Page-----*******/
.heading h1{
  font-size: 35px;
}
.box{
    height: 85rem;
}
.box-left{
    width: 100%;
}
.box-right{
    width: 100%;
    margin-top: 2rem;
   margin-right: -2rem;
}
.wow-img{
  width: 542px;
  height: 400px;
}
.price-btn{
    margin-left: 3rem;
    margin-top: 2rem;
}

.box-2{
margin-bottom: 108rem;
}
.circle{
  margin-left: 5rem;


}
.circle-2{
  margin-left: 5rem;
  margin-top: 22rem;
}
.circle-3{
  margin-left: 5rem;
   margin-top: 22rem;
}
.name{
    width: 100%;
    margin-top: 2rem;
 
}
/******End Product Details page**********/

/******Payment mode page*********/
.pay-box{
    height: 82rem;
         
}
.pay-box-main{
    padding-bottom: 28rem;
}
.pay-address{
width: 90%;
height: 25rem;
margin: 1px 0px   0px  0px ;
margin-left: 11px;
}
.pay-box-down{
    width: 90%;
    margin-left: 0.9rem;
}
.pay-btn2{
    margin-left: 7.5rem;
}
.pay-btn1{
  background: transparent linear-gradient(250deg, #993680 0%, #2F1A59 81%) 0% 0% no-repeat padding-box;
  border-radius: 7px;
  text-align: center;
  width: 17rem;
  color: #fff;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 100;
  border: none;
  margin-left: 2px;
  margin-top: 2rem;
}
.pay-btn1:hover{
background: #fff;
color: #2F1A59;
font-weight: 500;
text-decoration: none;
 box-shadow: 0px 5px  15px #2F1A59;
}

.pay-box-main hr{
  width: 90%;
}
.app-icons-1{
    margin-left: 12px;
}



/***--------End Payment mode -----*******/

/***********---END----feedback page---------*****/


.feed-form{
 width: 100%;
}
.feed-rating-box{
  height: 15rem;
}.feed-text{
    width: 80%;
    margin-left: 40px;
}

.feed-star{
    padding-top: 4rem;
        margin-top: 184px;
    margin-left: 6rem;
}
.feed-sub-heading h3{
    font-size: 32px;
    text-align: center;
}
.feed-text-2{
    font-size: 17px;
    text-align: center; 
}
.feed-down-heading{
    font-size: 35px;
    text-align: center;
}
  .feed-down-btn{  margin-top: 30px;
    padding: 10px;
    width: 145px;
    border: none;
    border-radius: 10px;
    color: white;
    background: transparent linear-gradient(250deg, #993680 0%, #2F1A59 81%) 0% 0%;
    font-size: 18px;
    margin-left: 114px;
}
.feed-star{
    margin-top: 50px;
    margin-left: -210px;
}
.feed-star-2 {
    margin-top: 8rem;
    margin-left: -11REM;
}
.feed-star-3 {
    margin-top: 9rem;
    margin-left: -18rem;
}
.rate-text-3{
    width: 300px;
    font-size: 20px;
}
.feed-btn{
    margin-top: 2rem;
}
.feed-btn2{
    margin-top: 1rem;
}
.feed-rating{
  padding-left: 16px;
  margin-top: 1.5em;
}

/**********-------End Feedback form---------*****/
/*****-----FAQ PAGE----*******/
.faq-text{
    width: 90%;
    font-size: 18px;
    text-align: center;
    margin-left: 15px; 
}

/*****END FAQ PAGE**********/
/****-SLOT PAGE---*********/
.slot-btn1{
    margin-left:70px;
}
.slot-heading p{
   margin-left: -20rem;
   padding-left: 21rem;
   margin-top: -8rem;
   padding-top: 10rem;
}
.slot-box{
    width: 90%;
    margin-left: 19px;
    margin-top: 28rem;  
}
.slot-Image{
    margin-left: -10px;
    width: 30rem;
    height: 30rem;
    margin-top: -132rem;
}
.slot-form-group-1{
    width: 100%;
}
/***END sLOT page-******/
/***tHANKYOU pAGE-*****/
.thankyou-down-text {
    text-align: center;
    color: #fff;
    margin-left: 1rem;
    width: 22rem;
}
/****END THANKYOU PAGE-*****/

/******Product page************/

.prod-page-banner{
    width: 100%;
    margin-top: 2px;
}
.pro-card-page-new{
    border: 1px solid #DCDCDC;
    border-radius: 24px;
    background: #fff;
    padding: 10px 20px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0px 3px 25px #00000029;
}
    
/*****End product page*******/

/******Checkout page********/
.checkout-heading p{
    font-size: 15px;
}
.checkout-background-color{
    padding: 0;
    margin: 0;
    padding-bottom: 3rem;
}
.checkout-box{
    width: 90%;
    margin-bottom: 40px;
}
 .display-flex{
  display: flex;
  flex-direction: column;
 }
 .checkout-btn1{
    margin-left: 40px;
    width: 180px;
    padding: 10px 10px 10px 20px;
}
.checkout-box-2{
    width: 90%;
}
.checkout-row{
   display: block;
}
.crossIcon{
    padding: 0px;
}
.checkout-cross-icon{
        margin-left: 4px;
}
.ch-1{
 margin-left: 10rem;
     margin-top: -41px;
}
.mh-1{
        margin-left: 19px;
}
.checkout-count{
    float:right;
        margin-top: -64px;
    margin-right: 15px;
}

.ch-left-text{
        margin-top: 47px;
}
.ch-last-box{
       margin-top: 110px;
}
.ch-lest-btn{
       margin-left: 83px;
    margin-bottom: 20px;
}
/*******End Checkout Page*****/
/*******Login page********/
.login-background-color{
    padding: 0;
    margin: 0;
    padding-bottom: 3rem;
}
.login-box{
    width: 90%;
    margin-bottom: 40px;
}
 .display-flex{
  display: flex;
  flex-direction: column;
 }
 .login-btn1{
    margin-left: 40px;
    width: 180px;
    padding: 10px 10px 10px 20px;
}
.login-button{
    width: 270px;
}
.mobile-number-input{
    width: 270px;
}

/*********End Login Page*******/

/***-------Order Details---*****/
.od-txt-3{
  height: 21rem;
  margin-left: -45px;
}
.od-table{
    width: 100%;
}
.order-main-box{
    display: block;
}
.order-left-box{
    padding-bottom: 30px;
}
.order-right-box{
    padding-bottom: 20px;
}
.od-txt-1{
    margin-right: -20px;
    padding: 0;
}
.od-txt-2{
    font-size: 20px;
}
.od-1{
    padding:10PX;
}

.od-txt-4{
    font-size: 20px;
}
.od-txt-cut
{
    font-size: 15px;
}
/****----orderList*****/
  .od-txt-1 p{
    width: 90px;
     float:right;
     margin-right: 50px;
  }
  .odlist-txt-3{
    background-color:#F2F2F2;
  height: 15rem;
  margin-left: -45px;
}
.od-txt-1 p{
    padding-left: 20px;
}
.orderlist-left-box{
    margin-top: -50px;
}
.orderlist-left-box p{
    font-size: 20px;
}
.order-right-box{
    margin-top: 10px;
}
}
@media only screen   
and (max-device-width : 1400px)   
{ 
  .test-content{
font-size: 10px;
width: 205px;
left: 65px;
  }  
  .pkg-btn{
    padding: 5px 10px;
  }
  .about-franch {
width: 315px;
} 
.about-insti h1 {
    font-size: 20px;
}
.about-insti p {
    font-size: 20px;
}
.logo img {
    width: 75%;
    margin-left: 60%;
}
.bann-con h1 {
    font-size: 25px;
    color: #2A3133;
    padding: 8px 0px;
}
.bann-con h2 {
    font-size: 25px;
    color: #2A3133;
    padding: 8px 0px;
}
.about-ins {
    margin-top: 10px;
}
}



