@media only screen and (max-width: 600px) {
    .bm-burger-button {
        left: 25px;
        top: 17px;
        width: 30px;
        height: 25px;
    }

    .header-nav {
        height: 60px;
    }

    .app-icon,
    .app-icon p {
        display: none;
    }

    .logo {
        margin-left: 20%;
    }

    .logo img {
        width: 60%;
        margin-left: 0px;
    }

    .header-nav-right {
        width: auto;
        margin: 10px;
    }
    .home-banner ul {
        left: 40%;
        padding-left: 0px;

}
.main_page {
    padding-top: 60px;
  }
  .slick-prev {
    left: 2%;
    z-index: 99;
}
.services-head {
    margin-top: 5px;
    margin-bottom: 15px;
}
.services-head h1 {
    font-size: 25px;
    font-weight: 500;
}
.services-head p {
    font-size: 15px;
    padding-top: 0px;
}
.ser-card-1,.ser-card-2,.ser-card-3,.ser-card-4,.ser-card-5  {
    height: 370px;
    margin-bottom: 30px;

}
.sec-row {
    width: 100%;
    margin-top: 0px !important;
}
section.services {
    margin-bottom: 10px;
}
.pkg-bann {
        background-size: cover;
        margin-top: 50px;
}
.pkgs-list {
    padding: 40px 0px;
}
.test-bg{
    width: 20px;
  }

  /*****----------END--------Homepage--------*******/

/*******---------Contact-----Form---------********/
.form-body{
    margin-left: -10px;
    position:relative;
    height: 78rem;
    width: 370px;
}
.form-head{
    width: 100%;
}

.form-head p{
    width: 100%;
}
.form-heading{
width: 360px;
}


.form-heading h3{
    width: 100%;
}
.form{
    width:340px;
     position: absolute;
     margin-left: -112px;
}

.contact-btn1{
 width: 100%;
}
.form-group{
    width: 100%;
}

.contact-btn1{
   margin-left: 0px;
   width: 100px;
    position: relative;
    
}
.form-group{
    float: left;
}

/**--Profile-Page-***/



.form-body-1{
 /*margin-left: -10px;
    position:relative;
    height: 78rem;
    width: 370px;*/

        margin-left: -10px;
    position: relative;
    height: 99rem;
    width: 370px;
    top: 8rem;
    background: #d3d3d33b;
    margin-bottom: 2rem;
}
.p-heading{
   
    margin-top: -8rem;
    margin-bottom: 1rem;
}

.p-form-head-p{
    width: 100%;
}


.p-form-heading{
width: 360px;
margin-top: -7.5rem;
padding-bottom: 10px;
padding-left: 120px;
padding-top: 10px;
}


.p-form-heading h3{
    width: 100%;
}
.form-1{
        width: 340px;
    position: absolute;
    margin-left: 16px;
    background: white;
        border-radius: 20px 0 20px 20px;
}

.contact-btn1{
 width: 90%;
 margin-left: 15px;
}
.form-group{
    width: 100%;
}




}
@media only screen   
and (max-device-width : 1400px)   
{ 
  .test-content{
font-size: 10px;
width: 205px;
left: 65px;
  }  
  .pkg-btn{
    padding: 5px 10px;
  }
  .about-franch {
width: 315px;
} 
.about-insti h1 {
    font-size: 30px;
}
.about-insti p {
    font-size: 20px;
}
.logo img {
    width: 75%;
    margin-left: 60%;
}
.bann-con h1 {
    font-size: 25px;
    color: #2A3133;
    padding: 8px 0px;
}
.bann-con h2 {
    font-size: 25px;
    color: #2A3133;
    padding: 8px 0px;
}
.about-ins {
    margin-top: 10px;
}
}


